*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Inter, sans-serif;
  background-color: #f4f6f8;
  color: #333;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  background-color: #ffffff;
  color: #333;
  padding: 1rem 2rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

header img {
  height: 48px;
}

header .header-text {
  display: flex;
  flex-direction: column;
}

header .header-text h1 {
  margin: 0;
  font-size: 1.4rem;
  color: #000000;
}

header .header-text p {
  margin: 0;
  font-size: 0.9rem;
  color: #555;
}

.container {
  max-width: 600px;
  margin: 2rem auto;
  background: #fff;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  margin-top: 0;
}

h1 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: #000000;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

textarea {
  resize: vertical;
  padding: 0.75rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
  font-family: inherit;
}

button {
  padding: 0.75rem 1.5rem;
  font-size: 1.1rem;
  background-color: #004ad4;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background 0.3s ease;
  width: 100%;
  font-family: Inter, sans-serif;
  font-weight: 400;
}

button:disabled {
  background-color: #5d84cc;
  cursor: not-allowed;
}

button:hover:not(:disabled) {
  background-color: #01328d;
}

div > h2 {
  margin-top: 1.5rem;
  color: #0e0e0e;
}

div > p {
  margin: 0.5rem 0;
}


.title-classificador {
  text-align: center;
  font-size: 1.8rem;
  color: #000000;
  margin-bottom: 0.5rem;
  margin-top: 1;
}


.subtitle-classificador {
  text-align: center;
  font-size: 1rem;
  color: #000000;
  margin-bottom: 0.5rem;
  margin-top: 1;
}


